<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css'%}" />
    <script src="{% static 'js/admin.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <h1 class="sidebar-title">Teacher Connect</h1>
        <ul class="sidebar-list">
          <li><div class="sidebar-item">Colleges</div></li>
          <li><div class="sidebar-item">Department</div></li>
          <li><div class="sidebar-item">Teachers</div></li>
          <li><div class="sidebar-item" id="log-out-btn">Log out</div></li>
        </ul>
      </div>

      <main class="main-box">
        <div class="main-top-box">
          <h1 class="role-box">Hello {{ user.username }} your role is Admin</h1>
          <!-- <button type="button">
            <a href="{% url 'search' %}">search</a>
          </button> -->
        </div>
        <div class="box-flex">
          <!-- <button class="box-style" id="college-box" onclick="setCollegeVisiblity()"> -->
          <button
            class="box-style"
            id="college-box"
            onclick="setCollegeVisiblity()"
          >
            <span class="front-btn">
              <h3 class="box-element">Colleges</h3>
              <p class="box-element">Total: {{all_teacher.count}}</p>
            </span>
          </button>
          <div
            class="box-style"
            id="department-box"
            onclick="setDepartmentVisiblity()"
          >
            <span class="front-btn">
              <h3 class="box-element">Departments</h3>
              <p class="box-element">Total: {{all_teacher.count}}</p>
            </span>
          </div>
          <div
            class="box-style"
            id="teacher-box"
            onclick="setTeacherVisiblity()"
          >
            <span class="front-btn">
              <h3 class="box-element">Teachers</h3>
              <p class="box-element">Total: {{all_teacher.count}}</p>
            </span>
          </div>
        </div>

        <div class="data-container" style="position: absolute">
          <div class="college-container" id="colleges" style="display: none">
            <h1 class="college-head">Colleges</h1>
            <ul>
              {% for clgs in all_colleges %}
              <li><p>{{clgs.college}}</p></li>
              {% endfor %}
            </ul>
          </div>
          <!-- <table class="college-container" id="colleges" style="display: none">
            <tr class="college-head">
              <th>Colleges</th>
            </tr>
            {% for clgs in all_colleges %}
            <tr>
              <th><p>{{clgs.college}}</p></th>
            </tr>
            {% endfor %}
          </table> -->

          <div class="dept-container" id="depts" style="display: none">
            <h1 class="college-head">Departments</h1>
            <ul>
              {% for dpt in all_dpts %}
              <li><p>{{dpt.subject}}</p></li>
              {% endfor %}
            </ul>
          </div>

          <div class="teacher-container" id="teachers" style="display: none">
            <h1 class="college-head">Teachers</h1>
            <ul>
              {% for tchr in all_teacher %}
              <li><p>{{tchr.username}}</p></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
