<!DOCTYPE html>
{% load static %}
<html lang="en">
  

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignInUp</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <main class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Sign Up</h1>
          <h2>To sign up here you need to contact your college addministrator</h2>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form method = "post">
          {%csrf_token%}
          <h1>Sign in</h1>
          <label for="username" style="-webkit-text-fill-color: #000;">Username</label>
          {{form.username}}
          <label for="username" style="-webkit-text-fill-color: #000;">Password</label>
          {{form.password}}
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Already Have An Account?</h1>
            <p>Sign in to access your dashboard</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hey There</h1>
            <p>Create an account with us and get access to your dashboard</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
      </div>

      <script src="script.js"></script>
  </body>

</html>