* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}

.container {
  width: 100vw;
  height: 100vh;
  transition-property: display;
  transition: 500ms;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 19vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: static;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.sidebar-title {
  --c: #c14210;
  line-height: 2em;
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0)
      0 var(--p, 0%),
    conic-gradient(from -135deg at 2.5em 50%, #0000 90deg, var(--c) 0) 100%
      var(--p, 0%);
  background-size: var(--s, 0%) 200%;
  background-repeat: no-repeat;
  transition: 0.4s ease-in, background-position 0s;
  font-size: 2rem;
  padding: 2.4vh 1.5vw 2.4vh 1.5vw;
  margin: 5vh 0;
}

.sidebar-title:hover {
  --p: 100%;
  --s: calc(
    50% + 0.61em
  ); /* it should be 0.6em(1.2em/2) but we use a litte bigger */
  color: #fff;
  cursor: pointer;
  background-color: #c14210;
}

.sidebar-item {
  display: flex;
  justify-content: start;
  /* align-content: center; */
  /* text-align: left; */
  align-items: center;
  width: 95%;
  height: 3.5rem;
  background-color: rgba(0, 0, 255, 0.5);
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;

  background: linear-gradient(#1095c1 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

.sidebar-item:hover {
  --p: 100%;
  color: #fff;
}

#log-out-btn {
  background: linear-gradient(rgba(165, 0, 175, 0.5) 0 0) var(--p, 0) /
    var(--p, 0) no-repeat;
  /* background-color: ; */
  margin-top: 40vh;
}

.main-box {
  /* background-color: rgba(0, 0, 0, 0.4); */
  height: 100vh;
  width: 83%;
  margin: 0;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #f7e6e6;
  opacity: 0.8;
  /* background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #f7e6e6 15px
    ),
    repeating-linear-gradient(#f7457f55, #f7457f); */

    background-image: url("./back/circle-scatter-haikei.svg");
}

.main-top-box {
  /* background-color: rgba(255, 255, 255, 0.7); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.role-box {
  height: 10vh;
  background-color: rgba(0, 0, 175, 0.5);
  width: 100%;
  font: 3rem sans-serif;
  display: flex;
  justify-content: center;
}

.box-flex {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box-style {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front-btn {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
  /* transition: all ease-in-out 50ms; */
}

.box-style:active .front-btn {
  transform: translateY(-2px);
}

/* #college-box {
  background: hsl(340deg 100% 32%);
}

#department-box {
  background: hsl(102, 100%, 32%);
}

#teacher-box {
  background: hsl(226, 100%, 32%);
} */

/* .box-style:hover {
  border: dashed yellow 1px;
  transform: translateY(2rem);
  margin: 25px;
  transition: 500ms;
} */

.box-element {
  margin: 0.5em;
}

.data-container {
  /* translate: -1rem; */
  margin: 0 15vw;
  /* background-color: rgba(255, 0, 0, 0.7); */
  width: 50vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-size: 2rem;
  /* padding-left: 2rem; */
  /* overflow: visible; */
  /* background-color: #fff; */
  transition: all 500ms ease-in-out;
}

.college-head {
  color: rgba(255, 255, 255, 0.7);
  font-size: 3.5rem;
}

.college-container {
  overflow: visible;
  height: 45vh;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 2rem;
  background-color: #f7e6e6;
  opacity: 0.8;

  background-image: url("./back/blob-scene-haikei.svg");
  transition: background-image 500ms;
  opacity: 100%;
}

.college-container:hover {
  background-image: url("./back//blob-scene-haikei\(1\).svg");
}

.dept-container {
  height: 45vh;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
  padding: 2rem;
}

.teacher-container {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 45vh;
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
  padding: 2rem;
}

@media screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }

  .container {
    transition-property: display;
    transition: 500ms;
    display: flex;
    flex-direction: column;
  }

  .box-flex {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 0 0;
  }

  .box-style {
    width: 2.5em;
    height: 2.5em;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border: dashed rgba(255, 255, 255, 0.7) 1px;
    margin: 25px;
    transition: all 500ms;
  }
}
